####################################################
#
# Welcome to Doxy Jekyll Template
#
# Product Link : https://themeix.com/product/doxy-documentation-website-jekyll-template/
# Version : v4.3.0
#
####################################################

# Site settings
title: "XDC Community - XIP Process"
email: "jon@coracle.us"
description: "xdc.community is a decentralized, public, open source developer portal created and maintained by a global developer community"
keywords: "xdc, xdc developer portal, xinfin, xdc documentation, xdc developer, xdc portal, xdc development"
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://xips.xdc.community/"
cover_image: "https://static1.squarespace.com/static/61d4c274803cdc2a1dfaa4d2/t/62d1ad2ea195db3805a3fdcf/1657908526321/Logo_XDC_Network.png" # Image will Display in Social Media When share the website
facebook: "https://www.facebook.com"
twitter: "https://twitter.com/xdc_community"
instagram: "https://www.instagram.com/xdc_foundation/"
github: "https://github.com/XDC-Community"
linkedin: "https://www.linkedin.com/company/xdc-foundation"
behance: "https://www.behance.com"
reddit: "https://www.reddit.com/r/xinfin/"
vimeo: "https://vimeo.com/xdccommunity"
dribble: "https://www.dribble.com"
youtube: "https://www.youtube.com/channel/UCXAAtlD-CRraNJKzDTF4pfg"
discord: "https://discord.gg/QbwbXjfg"

## Theme Options
animated_header: "false"  #true 
twitter_username: xdc-community
github_username:  xdc-community


# Build settings
markdown: kramdown
theme: minima
highlighter: rouge
plugins:
  - jekyll-feed
  - jekyll-paginate-v2
  - jekyll-archives
  - jekyll-seo-tag  
kramdown:
  parse_block_html: false
  # This is the default, but be explicit as some EIPs depend on it
  auto_ids: true
  # This is to ensure more determistic behaviour
  auto_id_stripping: true
  syntax_highlighter: rouge

collections:
  team_members:
    output: true
    permalink: /team_members/:path/
  testimonials:
    output: true
    permalink: /testimonials/:path/
  docs:
    output: true
    permalink: /docs/:title/
  XIPS:
    output: true 
    permalink: /XIPS/:title/


############################################################
# Site configuration for the Jekyll Pagination Gem
# The values here represent the defaults if nothing is set
pagination:
  
  # Site-wide kill switch, disabled here it doesn't run at all 
  enabled: true

  # Set to 'true' to enable pagination debugging. This can be enabled in the site config or only for individual pagination pages
  debug: false

  # The default document collection to paginate if nothing is specified ('posts' is default)
  collection: 'posts'

  # How many objects per paginated page, used to be `paginate` (default: 0, means all)
  per_page: 2

  # The permalink structure for the paginated pages (this can be any level deep)
  permalink: '/page/:num/' # Pages are index.html inside this folder (default)
  #permalink: '/page/:num.html' # Pages are simple html files 
  #permalink: '/page/:num' # Pages are html files, linked jekyll extensionless permalink style.

  # Optional the title format for the paginated pages (supports :title for original page title, :num for pagination page number, :max for total number of pages)
  title: ':title - page :num'

  # Limit how many pagenated pages to create (default: 0, means all)
  limit: 0
  
  # Optional, defines the field that the posts should be sorted on (omit to default to 'date')
  sort_field: 'date'

  # Optional, sorts the posts in reverse order (omit to default decending or sort_reverse: true)
  sort_reverse: true

  # Optional, the default category to use, omit or just leave this as 'posts' to get a backwards-compatible behavior (all posts)
  category: 'posts'

  # Optional, the default tag to use, omit to disable
  tag: ''

  # Optional, the default locale to use, omit to disable (depends on a field 'locale' to be specified in the posts, 
  # in reality this can be any value, suggested are the Microsoft locale-codes (e.g. en_US, en_GB) or simply the ISO-639 language code )
  locale: '' 

 # Optional,omit or set both before and after to zero to disable. 
 # Controls how the pagination trail for the paginated pages look like. 
  trail: 
    before: 2
    after: 2

  # Optional, the default file extension for generated pages (e.g html, json, xml).
  # Internally this is set to html by default
  extension: html

  # Optional, the default name of the index file for generated pages (e.g. 'index.html')
  # Without file extension
  indexpage: 'index'

############################################################

  
autopages:
  enabled: true
  collections:
    layouts: 
      - 'tag_page.html'
    title: ' :coll' # :coll is replaced by the collection name
    permalink: '/:coll/'
  
  tags:
    layouts: 
      - 'tag_page.html'
    title: ':tag' # :tag is replaced by the tag name
    permalink: '/tag/:tag'  
      

# Tag Options
tag_page_layout: tag_page
tag_page_dir: tag
permalink: /:title/ 

 
   
    
feed:
  collections:
    posts:
      path: "/index.xml"
        